# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest / Test artifacts
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
Desktop.ini
.DS_Store
